{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
    <nav>
    <div class="nav nav-pills">
    {% for ev in allEvents %}
        <a class="nav-link {% if ev['event'] == event %}active{% endif %}" href="/event?event={{ev['event']}}&panel={{panel}}">{{ev['display']}}</a>
    {% endfor %}
    </div>
    </nav>

    <nav>
    <div class="nav nav-tabs">
        <a class="nav-link {% if leaderboard %}active{% endif %}" href="/event?event={{event}}&panel=leaderboard">Leaderboard</a>
        <a class="nav-link {% if not leaderboard %}active{% endif %}" href="/event?event={{event}}&panel=timer">Timer</a>
    </div>
    </nav>

    {% block panel%}
    {% endblock %}

{% endblock %}