{% extends "base.html" %}

{% block title %}{{event}}{% endblock %}

{% block content %}
    <div>
    {% for ev in allEvents %}
        <div><a href="/event?event={{ev['event']}}&panel={{panel}}">{{ev['display']}}</a></div>
    {% endfor %}
    </div>

    <div>
        <div><a href="/event?event={{event}}&panel=leaderboard">Leaderboard</a></div>
        <div><a href="/event?event={{event}}&panel=timer">Timer</a></div>
    </div>


    {% if leaderboard %}
    <ul>
        <li>Morgan - 7.854</li>
        <li>Human - 29034</li>
    </ul>
    {% else %}
    <p>Morgans timer javascript goes here</p>
    <form>
    </form>
    {% endif %}

{% endblock %}