{% extends "eventTemplate.html" %}

{% block panel %}

    <h3>Times</h3>
    <p>enter your time</p>

    <form action="/event" method="post">
        <input type="hidden" name="event" value="{{event}}">
        <label for="name">Name</label>
        <input type="text" name="name">
        <label for="time">Time</label>
        <input type="number" step="0.001" min="0" name="time">
        <input type="submit" value="Submit">
    </form>
    {% if inp == "good" %}
    <div class="alert alert-success" role="alert">Time added</div>
    {% elif inp == "bad" %}
    <div class="alert alert-warning" role="alert">Bad input, try again</div>
    {% endif %}

{% endblock %}